{% extends "base_no_nav.html" %}

{% load custom_filters %}

{% block title %}Générer bon_livraison{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Générer bon_livraison</h2>
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Designations</th>
                    <th>QTE</th>
                </tr>
            </thead>
            <tbody>
                {% for designation in commande.designations.all %}
            
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {{ designation.name }}<br>
                        {% for option in designation.options.all %}
                            {% if option.option_name %} * {{ option.option_name }}{% endif %}
                            {% if option.format %} * {{ option.format }}{% endif %}
                            {% if option.paper_type %} * {{ option.paper_type }}{% endif %}
                            {% if option.paragraph %} * {{ option.paragraph }}{% endif %}
                            {% if option.grammage %} * {{ option.grammage }}{% endif %}
                            {% if option.recto_verso %} * {{ option.recto_verso }}{% endif %}
                            {% if option.pelliculage_mat %} * Pelliculage Mat R{% endif %}
                            {% if option.pelliculage_brillant %} * Pelliculage Brillant R{% endif %}
                            {% if option.spiral %} * Spiral{% endif %}
                            {% if option.piquage %} * Piquage{% endif %}
                            {% if option.collage %} * Collage{% endif %}
                            {% if option.cousu %} * Cousu{% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ designation.options.first.quantity }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Générer bon_livraison</button>
    </form>
</div>

{% endblock %}
