{% extends "base.html" %}

{% block title %}Liste des Devis{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Liste des Devis</h1>
    <table class="table table-striped" id="factureTable">
        <thead>
            <tr>
            <th>Num_Dossier</th>
            <th>Devis N°</th>
            <th>Client</th>
            <th>Client_Ref</th>
            <th>Status</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for devis in devis %}
                <tr>
                    <td>{{ devis.order_id }}</td>
                    <td>{{ devis.devis_numero }}</td>
                    <td>{{ devis.client_name }}</td>
                    <td>{{ devis.company_reference_number }}</td>
                    <td><form method="post" action="{% url 'update_devis_status' devis.pk %}">
                        {% csrf_token %}
                        {% if devis.devis_status == 'devis_termine' %}
                            Devis Terminé
                        {% else %}
                                Pas de Devis
                        {% endif %}
                    </form></td>
                    <td>
                    <a href="{% url 'generer_devis' devis.pk %}" class="btn btn-sm btn-secondary"><i class="fas fa-file-invoice"></i></a>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ devis.pk }}"><i class="fas fa-trash"></i></button>

                        <!-- Modal -->
                        <div id="deleteModal{{ devis.pk }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirmation de suppression</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir supprimer cette devis?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'supprimer_devis' devis.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

