{% extends "base.html" %}

{% block title %}Liste bon_livraison{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Liste bon_livraisons</h1>
    <table class="table table-striped" id="factureTable">
        <thead>
            <tr>
            <th>Num_Dossier</th>
            <th>Bon_livraison N°</th>
            <th>Client</th>
            <th>Client_Ref</th>
            <th>Status</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bon_livraison in bon_livraison %}
                <tr>
                    <td>{{ bon_livraison.order_id }}</td>
                    <td>{{ bon_livraison.bl_numero }}</td>
                    <td>{{ bon_livraison.client_name }}</td>
                    <td>{{ bon_livraison.company_reference_number }}</td>
                    <td><form method="post" action="{% url 'update_bl_status' bon_livraison.pk %}">
                        {% csrf_token %}
                        {% if bon_livraison.bl_status == 'bl_termine' %}
                            bon_livraison Terminé
                        {% else %}
                                Pas de bon_livraison
                        {% endif %}
                    </form></td>
                    <td>
                    <a href="{% url 'generer_bon_livraison' bon_livraison.pk %}" class="btn btn-sm btn-secondary"><i class="fas fa-file-invoice"></i></a>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ bon_livraison.pk }}"><i class="fas fa-trash"></i></button>

                        <!-- Modal -->
                        <div id="deleteModal{{ bon_livraison.pk }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirmation de suppression</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir supprimer ce bon_livraison?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'supprimer_bl' bon_livraison.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

