{% extends "base.html" %}

{% block title %}Liste des Commandes{% endblock %}

{% block content %}
<h1 class="text-center my-4">Liste des Commandes</h1>
<div class="d-flex justify-content-center">
    <div class="table-responsive">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Num_Dossier</th>
                <th>Client_Ref</th>
                <th>Nom_Client</th>
                <th>Date et Heure</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{ commande.order_id }}</td>
                <td>{{ commande.company_reference_number }}</td>
                <td>{{ commande.client_name }}</td>
                <td>{{ commande.date_time }}</td>
                <td>{{ commande.order_status }}</td>
                <td>
                    <a href="{% url 'modifier_commande' commande.pk %}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'supprimer_commande' commande.pk %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                    {% if is_director %}
                    <a href="{% url 'generer_devis' commande.pk %}" class="btn btn-sm btn-secondary"><i class="fas fa-file-invoice-dollar"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
