{% extends "base.html" %}
{% load static %}
{% block title %}Liste des Devis{% endblock %}

{% block content %}
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa;
    }
    .custom-table {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    .custom-table th, .custom-table td {
        padding: 12px 15px;
        text-align: center;
    }
    .custom-table th {
        background-color: #3498db;
        color: #fff;
        font-weight: bold;
        border: none;
    }
    .custom-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .custom-table tbody tr:hover {
        background-color: #e6f7ff;
    }
    .modal-header, .modal-footer {
        background-color: #f8f9fa;
        border: none;
    }
    .modal-title {
        color: #333;
    }
    .btn-custom {
        background-color: #3498db;
        color: #fff;
        border: none;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .btn-custom:hover {
        background-color: #2980b9;
    }
    .btn-danger {
        border-radius: 5px;
        padding: 5px 10px;
    }
    .btn-secondary-custom {
        background-color: #7f8c8d;
        color: #fff;
        border: none;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .btn-secondary-custom:hover {
        background-color: #616a6b;
    }
    .modal-content {
        border-radius: 10px;
    }
    .table-responsive {
        border-radius: 10px;
    }
    .header-title {
        font-family: 'Roboto', sans-serif;
        color: #333;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .btn-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
</style>

<div class="container mt-4">
    <h1 class="text-center header-title">Liste des Devis</h1>
    <div class="table-responsive custom-table">
        <table class="table table-striped" id="devisTable">
            <thead>
                <tr>
                    <th>N° Dossier</th>
                    <th>N° Devis</th>
                    <th>Réf_Client</th>
                    <th>Nom_Client</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for devis in devis_list %}
                <tr>
                        <td>{{ devis.order_id }}</td>
                        <td>{{ devis.devis_numero}}</td>
                        <td>{{ devis.company_reference_number }}</td>
                        <td>{{ devis.client_name }}</td>
                        <td>{{ devis.devis_date|date:"d/m/Y"}}</td>
                        <td>
                            <form method="post" action="{% url 'update_devis_status' devis.pk %}">
                                {% csrf_token %}
                                {% if devis.devis_status == 'devis_termine' %}
                                    Devis Terminé
                                {% else %}
                                    Pas de Devis
                                {% endif %}
                            </form>
                        </td>
                        <td>
                            <div class="btn-container">
                                <a href="{% url 'generer_devis' devis.pk %}" class="btn btn-sm btn-custom">
                                    <i class="fas fa-file-alt"></i>
                                </a>
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ devis.pk }}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>

                           <!-- Modal -->
                           <div id="deleteModal{{ devis.pk }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirmation de Suppression</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir supprimer ce devis?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'supprimer_devis' devis.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                            <button type="button" class="btn btn-secondary-custom" data-dismiss="modal">Annuler</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
