{% extends "base.html" %}

{% block title %}Liste des Factures{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Liste des Factures</h1>
    <table class="table table-striped" id="factureTable">
        <thead>
            <tr>
            <th>Num_Dossier</th>
            <th>Facture N°</th>
            <th>Client</th>
            <th>Client_Ref</th>
            <th>Status</th>
            <th>Remarque</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
                <tr>
                    <td>{{ facture.order_id }}</td>
                    <td>{{ facture.facture_numero }}</td>
                    <td>{{ facture.client_name }}</td>
                    <td>{{ facture.company_reference_number }}</td>
                    <td>{{ facture.facture_status }}</td>
                    <td>
                        {% if facture.remarque == 'paye' %}
                            Payé
                        {% else %}
                            <form method="post" action="{% url 'update_facture_status' facture.pk %}">
                            {% csrf_token %}
                            <input type="checkbox" name="remarque" value="paye" onchange="this.form.submit()">
                        </form>
                        {% endif %}
                    </td>
                    <td>
                    <a href="{% url 'generer_facture' facture.pk %}" class="btn btn-sm btn-secondary"><i class="fas fa-file-invoice"></i></a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

