{% extends "base_no_nav.html" %}
{% load static %}


{% block content %}
<div class="container-fluid p-5 bg-light text-dark">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h1 class="display-4 animate__animated animate__fadeInLeft">Bienvenue, Monsieur</h1>
            <p class="lead animate__animated animate__fadeInLeft animate__delay-1s">Ready to start your day with some tasks?</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{% static 'Application/images/director-icon.png' %}" alt="Director Icon" class="img-fluid animate__animated animate__fadeInRight">
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 mb-4">
            <div class="card bg-primary text-white h-100">
                <div class="card-body text-center">
                    <i class="fas fa-list fa-2x"></i>
                    <h5 class="card-title mt-2">Commandes</h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'liste_commandes' %}" class="btn btn-light btn-block">GO</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-info text-white h-100">
                <div class="card-body text-center">
                    <i class="fas fa-file-alt fa-2x"></i>
                    <h5 class="card-title mt-2">des Devis</h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'liste_devis' %}" class="btn btn-light btn-block">GO</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-success text-white h-100">
                <div class="card-body text-center">
                    <i class="fas fa-file-invoice-dollar fa-2x"></i>
                    <h5 class="card-title mt-2">Factures</h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'liste_factures' %}" class="btn btn-light btn-block">GO</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-warning text-white h-100">
                <div class="card-body text-center">
                    <i class="fas fa-truck fa-2x"></i>
                    <h5 class="card-title mt-2">Bon de Livraison</h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'liste_bon_livraison' %}" class="btn btn-light btn-block">GO</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-danger text-white h-100">
                <div class="card-body text-center">
                    <i class="fas fa-users fa-2x"></i>
                    <h5 class="card-title mt-2">Situation Client</h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'situation_client' %}" class="btn btn-light btn-block">GO</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

